<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li>
                <a href ="{{ path('Page_index') }}">home</a>
            </li>
            <li>
                <a href ="{{ path('Page_about') }}">about</a>
            </li>
            <li>
                <a href="{{ path('Page_contact') }}">Contact</a>
            </li>
            <li>
                <a href ="{{ path('Page_cart') }}">Корзина</a>
            </li>
        </ul>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
